_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
node_modules
bookshop-live.js
.DS_Store
site/.bundle
.bundle
/docs/Gemfile.lock
/docs/images/postImg/dataAi_landspace - 원본.png
/docs/images/postImg/dataAi_landspace - 편집본.png