<!-- 블로그 목록 UI (드롭다운 방식) -->
<div class="category-bar">
  {% for category in site.data.categories %}
    <div class="dropdown">
      <button class="dropbtn" 
              {% if category.id %}id="{{ category.id }}"{% endif %}>
              <ion-icon name="{{category.icon | downcase}}"></ion-icon>
        {{ category.name }}
      </button>

      {% if category.subcategories %}
      <div class="dropdown-content">
        {% for sub in category.subcategories %}
          <button class="sub-btn" data-filter="{{ sub.id | downcase }}">
            {{ sub.name }}
          </button>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  {% endfor %}
</div>